<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2 th:text="${boardDTO.title}"></h2>
    <p th:inline="text">작성일 : [[${#temporals.format(boardDTO.createdDate, 'yyyy-MM-dd HH:mm')}]]</p>

    <p th:text="${boardDTO.content}"></p>

    <!-- 수정 및 삭제 -->
    <div>
        <a th:href="@{'/post/edit/' + ${boardDTO.id}}">
            <button>수정</button>
        </a>

        <form id="delete-form" th:action="@{'/post/' + ${boardDTO.id}}" method="post">
            <input type="hidden" name="_method" value="delete" />
            <button id="delete-btn">삭제</button>
        </form>
    </div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var boardDTO = /*[[${boardDTO}]]*/ "";
    /*]]>*/
</script>
<script th:inline="javascript" th:src="@{/js/board.js}"></script>
</body>
</html>